nav {
  padding: 1em;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  /*flex-direction: column;
  width: 15%;*/
}


nav a {
  background: white;
  padding: 1em;
  margin: 0 1em;
  transition: background 2s;
}

a:hover {
  background: #ff0000;
  color: white;
}
